.user-form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > span {
    text-align: center;
    width: 100%;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > div {
      width: 100%;
    }
  }
}
